<?xml version="1.0"?>
<config>
    <modules>
        <HomeWork_DeliveryDate>
            <version>1.0.0</version>
        </HomeWork_DeliveryDate>
    </modules>
    <global>
        <blocks>
            <homework_deliverydate>
                <class>HomeWork_DeliveryDate_Block</class>
            </homework_deliverydate>
        </blocks>
        <helpers>
            <homework_deliverydate>
                <class>HomeWork_DeliveryDate_Helper</class>
            </homework_deliverydate>
        </helpers>
        <models>
            <homework_deliverydate>
                <class>HomeWork_DeliveryDate_Model</class>
            </homework_deliverydate>
        </models>
        <resources>
            <homework_deliverydate_setup>
                <setup>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                    <module>HomeWork_DeliveryDate</module>
                </setup>
            </homework_deliverydate_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote>
                <delivery_date><to_order>*</to_order></delivery_date>
            </sales_convert_quote>
            <sales_convert_order>
                <delivery_date><to_shipment>*</to_shipment></delivery_date>
            </sales_convert_order>
        </fieldsets>
    </global>
    <frontend>
        <layout>
            <updates>
                <homework_deliverydate module="HomeWork_DeliveryDate">
                    <file>homework/deliverydate.xml</file>
                </homework_deliverydate>
            </updates>
        </layout>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <homework_deliverydate>
                        <class>homework_deliverydate/observer</class>
                        <method>saveDeliveryDate</method>
                    </homework_deliverydate>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
        </events>
    </frontend>
</config>